<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
  </head>
  <body>
    <div id="obj1">
      <div id="option">
        <button>option</button>
      </div>
        <label for="Quantity">Quantity</label>
        <input type="number" id="Quantity" name="Quantity" placeholder="Type here">
      </div>
    </div>
    <div id="obj2">
      <select name="Itens" id="itens" >
        <option value="Dropdown" disabled selected>Dropdown</option>
        <option value="A">A</option>
        <option value="B">B</option>
      </select>
    </div>
    <div id="obj3">
      <% for( let index = 1; index < 12; index++ ) { %>
        <h1>item <%= index  %></h1> 
      <% } %>
    </div>
  </body>
</html>
